In [5]:
#导入所需要的库
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import LabelEncoder

In [4]:
#读取数据，并把题本中给的预测数据也写进来，假定buying为no,为便处理数据
df=pd.read_excel('Question5.xlsx')
df

    User id       Age Incoming Student Credit Rating Buying
0         1      <=30     high      no          fair     no
1         2      <=30     high      no     excellent     no
2         3   [31,40]     high      no          fair    yes
3         4       >40   medium      no          fair    yes
4         5       >40      low     yes          fair    yes
5         6       >40      low     yes     excellent     no
6         7   [31,40]      low     yes     excellent    yes
7         8      <=30   medium      no          fair     no
8         9      <=30      low     yes          fair    yes
9        10       >40   medium     yes          fair    yes
10       11      <=30   medium     yes     excellent    yes
11       12   [31,40]   medium      no     excellent    yes
12       13   [31,40]     high     yes          fair    yes
13       14       >40   medium      no     excellent     no

In [6]:
#为每一列序列化,就是将每种字符串转化为对应的数字。用数字代表类别
le = LabelEncoder()
for col in df.columns:                                            
    df[col] = le.fit_transform(df[col])

In [9]:
#选取数据进行建模
X=df[['Age','Incoming','Student','Credit Rating']][:-1]
Y=df['Buying'][:-1]

In [13]:
#建立决策树模型
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, Y)

In [18]:
#估计
preX=df[['Age','Incoming','Student','Credit Rating']][-1:]
result = clf.predict(preX) 
YDict={0:'no',1:'yes'}
print(YDict[result[0]])

no